.imgDisp{
  border: 1px solid black;
  position: relative;
  width: 100%;
  font-size: 0;
  text-align: center;

  & > .content{
    border: 3px solid red;
    display: inline-block;
    max-width: 100%;

    .subtitle{
      display: inline-block;
      width: 103px;
      height: 100px;
      background-color: red;
    }

    .img-container{
      display: inline-block;
    }
  }

  img{
    display: inline-block;
    border: 3px solid blue;
    display: block;
    //margin: auto;
  }
}
