.imgDisp{
//  background-color: grey;
  width: 100%;
  position: relative;
  > .img-container{
    position: relative;

    img{
      display: block;
      margin: auto;
      cursor: pointer;
      &.bigWidth{
        width: 100%;
        height: auto;
      }

      &.bigHeight{
        height: 65vh;
        width: auto;
        max-width: 100%;
      }
    }
  }
}
