.imgDisp{
//  background-color: grey;
  width: 100%;
  position: relative;
  
  > .img-container{
    position: relative;



    img{
      display: block;
      margin: auto;
      cursor: pointer;
      &.bigWidth{
        width: 100%;
        height: auto;
      }

      &.bigHeight{
        //height: 65vh;
        //width: auto;
        //max-width: 100%;
        width: 66%;
        height: auto;
      }
    }
  }

  .img-label-container{
    &.alignleft {text-align: left;}
    &.aligncenter {text-align: center;}
    &.alignright {text-align: right;}
  }
  .img-label{
    min-width: 200px;
    margin: auto;
    background-color: lightgrey;
    padding: 10px;
    font-size: 17px;
    font-family: 'Dosis', 'arial';
    font-style: italic;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    //width: 100%;
  }

}
