.section{
  //padding: 10px 0 10px 0;
  //margin-top: 10px;
  > .container{
    background-color: #e7e2e2;
    //background-color: rgb(94, 123, 180);
    border-radius: 5px;
    //border-left: 3px solid lightgrey;
    //border-right: 3px solid lightgrey;
    text-align: left;

  }
}
