.toolbar{
  position: fixed;
  top:0;
  left:0;
  z-index: 200;
  box-sizing: border-box;
  padding: 0;
  text-align: right;
  width: 100%;
  height: 70px;

  color: white;

  background-color: black;
  //background-color: rgb(104, 178, 194);
  //background-color: white;
  //background-color: rgb(32, 105, 110);
  //background-color: rgb(10, 168, 184);
  //background-color: rgb(124, 124, 124);
  //background-color: rgba(244, 202, 152, 1);

box-shadow: 0px 4px 7px 0px rgba(161, 155, 155, 0.7);

}

.tool-section{
  //background-color: yellow;
  display: inline-block;
  margin-left: 50px;
}

.tool-sect{
  position: absolute;
  height: 100%;
  //background-color: yellow;
  &.page-tools{left: 0;}
  &.item-tools{right: 0;}
}

.toolbox{
  position: relative;
  display: inline-block;
  //background-color: red;
  height: 100%;
  overflow: hidden;
  margin-left: 20px;
  box-sizing: border-box;
}

.btn-del{
  cursor: pointer;
  text-align: center;
  font-family: 'Dosis', 'arial';
  font-weight: bold;
  font-size: 17px;
  background-color: rgb(219, 77, 77);
  width: 60px;
  height: 100%;
  word-wrap: break-word;
}

.page-toolbox{
  //width: 40px;
  height: 100%;
  //background-color: grey;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin-left: 13px;
  //margin-right: 3px;

  .tool-title{
    font-family: 'Josefin Sans', 'arial';
    font-size: 17px;
    box-sizing: border-box;
    //border: 1px solid white;
  }

  .img-container{
    display: inline-block;
    margin: auto;
    width: 32px;
    height: 32px;
    padding: 2px;
    //padding-bottom: 2px;
    margin: 0;
    //background-color: red;

    img{
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }

  &.saving{
    animation-name: save-in-prog;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &.save-success{
    animation-name: save-end-success;
    animation-duration: 1s;
  }

  &.save-fail{
    animation-name: save-end-fail;
    animation-duration: 1s;
  }

}

@keyframes save-in-prog {
  0% {opacity: 100%;}
  50% {opacity: 0%;}
  100% {opacity: 100%;}
}

@keyframes save-end-success {
  0%{background-color: black;}
  50%{background-color: green;}
  100%{background-color: black;}
}

@keyframes save-end-fail {
  0%{background-color: black;}
  50%{background-color: red;}
  100%{background-color: black;}
}


.app-title{
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 10px;

  font-family: 'Quicksand', 'arial';
  font-size: 24px;
  font-weight: bold;

  padding: 3px 5px;

  margin-right: 10px;
}


.restore-page{
  position: absolute;
  top: 100%;
  left: 0;
  padding: 7px 5px;

  img{
    cursor: pointer;
    width: 25px;
    height: 25px;
  }

  .container{
    background-color: rgb(73, 98, 147);
    padding: 0;
    border-radius: 5px;
  }

  .restore-page-Q, .restore-page-A{
    padding: 4px;
    text-align: center;
    font-family: 'Dosis', 'arial';
    margin: 0 10px;
  }

  .restore-page-Q{
    font-size: 18px;
  }

  .restore-page-A{
    font-size: 18px;
    div{
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 5px;
      display: inline-block;
      background-color: rgb(203, 124, 32);
      padding: 3px 7px;
    }
  }
}
